body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: dodgerblue;

}
fieldset {
    border: none;
    padding: 15px 30px;
    text-align: left;
    


}
fieldset > label {
    font-size: 14px;
    line-height: 2.2;
    color: #404040;
    padding-left: 2px;

}

.mainSection {
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica , Arial, sans-serif;
    background-color: #ECEEF1;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.topContainer {
    width: 100%;
    height : 60px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.topPanel {
    float: right;
    width: 350px;
    font-size: 12px;
    font-weight: 400;
    
    height: 100%;
    color: #505050;
    box-sizing: border-box;
}
.topLeftPanel {
    margin-top: 2px;;
    width: 65%;
    text-align: right;
    display: inline-block;
}
.allreadyDIV {
    line-height: 1.5;
}

.topRightPanel
{
    text-align: right;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    float: right;
}

i {
    margin-right: 2px;
}
.signInBtn {
    background-color: #0077C5;
    cursor: pointer;
    width: 90%;
    margin: auto;
    height: 100%;
    color: white;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
}

.headerContainer {
    padding: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;

}

.mainSection, .formOutContainer, .formInnerContainer, .formContainerHeader
{
    width: 100%;
}
.listDiv
{
    text-align: center;
    margin: auto;
    width: 320px;
    height: 48px;
     

}
.headerImageList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    

}
.headerImageList > li {
    color: #a3a5a9;
    font-size:18px;
    line-height: 1.5;
    margin-left: 4px;
}
.formBody {
    text-align: center;
}
.formSection {
    margin: auto;
    width: 400px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding-top: 30px;
    color: #4c4c4c;
    box-sizing: content-box;

}
.formCaption {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    color: #4c4c4c;
    margin-top: 30px;
    

}
.formDesc {
    margin-top: 24px;
    font-size: 14px;

}

/*********************animation*********************/
.intuit
{
    opacity: 0;
    animation-duration: 3s;           
    animation-name: intuit-animation; 
    animation-fill-mode: forwards;
}

@keyframes intuit-animation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
  
}

.mintResize
{
    visibility: hidden;
    margin-left: 150px ;
    animation-delay: 1.25s;
    animation-duration: 2s;           
    animation-name: mint-animation; 
    animation-fill-mode: forwards;
}

@keyframes mint-animation {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 48px;
        height: 48px;
        margin-left: 150px;
        visibility: visible;
    }
    100% {
        margin-left: -40px;
        visibility: visible;

    }
}

.invisible {
   /* visibility: hidden;
    display: none;*/
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 2s;           
    animation-name: element-animation; 
    animation-fill-mode: forwards;
}

/*.listElement22 {
    animation-delay: 3.25s;
    animation-duration: 0.25s;           
    animation-name: element-animation; 
    animation-fill-mode: forwards;
  
    transition: display 2s;
    transition-timing-function: ease-in-out;
}*/

@keyframes element-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************************************************/
* {box-sizing: border-box;}

.txtInput {
    border: 1px solid #c1c5c8;
    border-radius: 4px;
    width: 90%;
    height: 30px;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin: auto;
    

}
.txtInput:focus {
    border:1px solid dodgerblue;
    box-shadow: -1px 1px 3px dodgerblue, 1px -1px 3px dodgerblue;
    ;
}

.smFnt {
    font-size: 10px;
}

.tooltip {
    position: relative;
    overflow: visible;
    box-sizing: content-box;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: whitesmoke;
    text-align: left;
    
    border-radius: 4px;

    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    padding:  8px 14px 0 14px;

}

.tooltip:focus-within .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333333 transparent transparent;
  }