body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 12px;
}
fieldset {
    border: none;
    padding: 10px 30px 30px 30px;

    text-align: left;
    


}
fieldset > label {
    font-size: 14px;
    line-height: 2.0;
    color: #404040;
    padding-left: 0px;

}

.topContainer {
    width: 100%;
    height : 54px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.topPanel {
    float: right;
    width: 330px;
    font-size: 12px;
    font-weight: 400;
    
    height: 100%;
    color: #505050;
    box-sizing: border-box;
}
.topLeftPanel {
    
    width: 65%;
    text-align: right;
    display: inline-block;
    line-height: 1.5;

}
.allreadyDIV {
    line-height: 1.5;
}

.topRightPanel
{
    text-align: right;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    float: right;
}

i {
    margin-right: 2px;
}
.signInBtn {
    background-color: #0077C5;
    cursor: pointer;
    width: 90%;
    margin: auto;
    height: 100%;
    color: white;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
}

.mainSection {
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica , Arial, sans-serif;
    background-color: #ECEEF1;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 10px;
    
    text-align: center;
    cursor: pointer;
}

.headerContainer {
    padding-top: 10px;
    height: 44px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 14px;
}

.mainSection, .formOutContainer, .formInnerContainer, .formContainerHeader
{
    width: 100%;
}
.listDiv
{
    text-align: center;
    margin: auto;
    width: 320px;
    height: 48px;
     

}
.headerImageList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    

}
.headerImageList > li {
    color: #a3a5a9;
    font-size:18px;
    line-height: 1.5;
    margin-left: 4px;
}
.formBody {
    text-align: center;
}
.formSection {
    margin: auto;
    width: 378px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    padding-top: 24px;
    color: #4c4c4c;
    box-sizing: content-box;

}
.formCaption {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    color: #4c4c4c;
    margin-top: 30px;
    

}
.formDesc {
    margin-top: 14px;
    font-size: 14px;

}

/*********************animation*********************/
.intuit
{
    opacity: 0;
    animation-duration: 3s;           
    animation-name: intuit-animation; 
    animation-fill-mode: forwards;
}

@keyframes intuit-animation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
  
}

.mintResize
{
    visibility: hidden;
    margin-left: 150px ;
    animation-delay: 1.25s;
    animation-duration: 2s;           
    animation-name: mint-animation; 
    animation-fill-mode: forwards;
}

@keyframes mint-animation {
    0% {
        width: 24px;
        height: 24px;
    }
    50% {
        width: 48px;
        height: 48px;
        margin-left: 150px;
        visibility: visible;
    }
    100% {
        margin-left: -40px;
        visibility: visible;

    }
}

.invisible {
   /* visibility: hidden;
    display: none;*/
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 2s;           
    animation-name: element-animation; 
    animation-fill-mode: forwards;
}

@keyframes element-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inputBoxContainer
{
    display: flex;
    justify-content: center;
    border: 1px solid #c1c5c8;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    box-sizing: content-box;
}

.txtInput {
    width: 100%;
    height: 100%;
    
    border:none;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin: auto;
    border-radius: 4px;

}
.inputBoxContainer:focus-within  {
    border:1px solid dodgerblue;
    box-shadow: -1px 1px 2px 1px rgba(30, 144, 255, 0.3), 1px -1px 2px 1px rgba(30, 144, 255, 0.3);
    
}

.smFnt {
    font-size: 10px;
}

.tooltip {
    position: relative;
    overflow: visible;
    
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: whitesmoke;
    text-align: left;
    
    border-radius: 4px;

    position: absolute;
    z-index: 2;
    top: 0px;
    left:103%;
    
    width:180px;
    padding:  0 20px 0 20px;
    font-size: 12px;

    display: flex;
    align-items: center;
}

.tooltip:focus-within .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333333 transparent transparent;
  }

  .createAccountDIV {
      padding: 0px 30px;

  }
 .createAccountButton {
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 4px;
    background-color: rgb(24, 115, 204);
    color: whitesmoke;
    font-size: 16px;

 }

 .privacyDIV {
    height: 100px;
    margin-top: 30px;
    padding: 0px 30px;

 }
 .privacyText {
     font-size: 12px;
     font-style: italic;
     margin-bottom: 0px;

 }
 .bottomStripe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #f0f0f0;
    font-size: 10px;;

 }
 .mainFooter
 {
     text-align: center;
 }

 .footerLinksDIV
  {
    margin: auto;
   
    width: 580px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    color: #505050;
    font-weight: 400;
    font-size: 14px;
  }

 .footerList
 {
    margin: auto;
    padding: 0;
    display: flex;
    width: 300px; 
    justify-content: center;
    justify-items: center;
    list-style-type: none;   
    margin-top: 25px;  
 }
 .footerItem
 {
    margin-left: 10px;   
   
 }

 .footerItem > a {
    color:  #505050;
    cursor: pointer;
 } 

 .footerItem:hover {
     text-decoration: underline;
 }

 .privacyAndTerms {
    color: #505050;
    font-weight: 400;
    font-size: 14px;
 }
.privacySection {
    position: fixed;
    bottom :0px;
    right: 5%;
    background-color: #6b6c72;
    height: 50px;
    color: white;
    width: 150px;
    
    border-radius: 4px;
    
    
}
 .privacyButton {
     height : 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    
     
 }